<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'goals/scripts/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/e368562f24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'goals/styles/main.css' %}">
    {% block head %}
    {% endblock %}
    <title>NYER Tracker</title>
</head>
<body>
    <div id="bg-header" class="bg-dark fixed-top bg-color-slab"></div>
    <header>
        
        <nav id="header-element" class="navbar navbar-dark bg-dark">
            <li id="nav-title" class=" nav-item navbar-nav col-8 col-lg-10 "><a class="nav-link" href="#">Gaol Tracker</a></li>
            <li class="nav-button logout nav-item navbar-nav col-2 col-lg-1 "><a class="nav-link" href="#">Logout</a></li>
            <li class="nav-button sign-up nav-item navbar-nav col-2 col-lg-1 "><a class="nav-link" href="#">Join</a></li>
          </nav>
    </header>
    
        {% block content %}
        {% endblock %}
   
</body>
<footer>

</footer>
</html>
