<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    {% load static %}
    {% comment %} <script src="{% static 'goals/scripts/main.js' %}"></script>
    <script src="{% static 'goals/scripts/Goal.js' %}"></script> {% endcomment %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    {% comment %} <link rel="apple-touch-icon" sizes="180x180" href="{% static 'goals/imgs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'goals/imgs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'goals/imgs/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'goals/imgs/site.webmanifest' %}"> {% endcomment %}
    <link rel="shortcut icon" type="image/png" href="{% static 'goals/imgs/favicon.ico' %}"/>
    
    
    {% block head %}
    {% endblock %}

    <title>NYER Tracker</title>

</head>
<body>

    {% block content %}
    {% endblock %}
        
</body>
</html>
