<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="{% static 'goals/scripts/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/e368562f24.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'goals/styles/main.css' %}">
    {% block head %}
    {% endblock %}
    <title>NYER Tracker</title>
</head>
<body>
    <div class="">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
