{% extends 'goals/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'goals/styles/main.css' %}">
    <script type="text/javascript" src="{% static 'goals/scripts/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'goals/scripts/Goal.js' %}"></script>
    {% comment %} <script src="https://kit.fontawesome.com/e368562f24.js" crossorigin="anonymous"></script> {% endcomment %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">


{% endblock head %}

{% block content %}

{{ scroll|json_script:"scroll" }}

{{ form.errors }}   
{{ form.non_field_errors }}

<div id="body-content">
   <header>
        <nav id="header-element" class="navbar navbar-dark bg-dark">
            <li id="nav-title" class=" nav-item navbar-nav col-7 col-lg-9 ">{{ user.username }}'s Goal Tracker</li>
            <li class="nav-button logout nav-item navbar-nav col-2 col-lg-1 "><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>   
        </nav>
    </header>
    <br>
    <ul class="container"> 
        {% for e in goals %}
        {% with e=e.goal %}
            <li id="inserted_goal_{{ e.count }} item-{{ e.id }}" class="goal parent_id_{{ e.parent.id }} item depth_id_{{ e.depth_id }} hidden_{{e.hidden}} closed_{{e.closed}} completed_{{ e.completed }}">
                <div class="item-container">
                
                    <form class="edit-goal-form" method="POST">
                    {% csrf_token %}  
                        <input name="name" value="edit-goal" hidden>                
                        {% comment %} <input class="parent_id_input" type="number" name="parent" hidden> 
                        <input class="depth_id_input" type="number" name="depth_id" value="0" hidden>  {% endcomment %}
                        <input type="number" name="id" value="{{e.id}}" hidden>  
                        <input id="id_{{ e.id }}" class="btn btn-outline-secondary title-btn  title" type="text" placeholder="Add Goal" value="{{ e.content }}" name="new_goal" autocomplete="off" maxlength="{{max_goal_length}}">
                        <input type="submit" hidden> 
                    </form>

                    {% comment %} <button id="id_{{ e.id }}" class="btn btn-outline-secondary title-btn  title">{{ e.content }} <span> <i class="fas"> </i></span> </button>  {% endcomment %}
                    <button id="arrow_button" class="btn"><i></i><span></span></button>
                    <div class="button-container">  
                        <form method="POST" class="tick circle plusForm">
                            {% csrf_token %} 
                            <input type="hidden" name="name" value="tick">
                            <input type="number" name="scrollYpos" value="1" hidden> 
                            <input type="number" name="scrollXpos" value="0" hidden> 
                            <button id="tick" class="btn btn-outline-success tick circle" type="submit" value="Submit">
                                <input type="number" name="tick" value="{{ e.id }}" hidden><i id="" class="fas fa-check"></i></input> 
                            </button> 
                        </form>   
                        <form method="POST" class="cross circle" hidden>
                            {% csrf_token %} 
                            <input type="hidden" name="name" value="delete">
                            <button id="delete-button" type="submit" value="Submit" class="btn btn-outline-danger circle" >
                                <input type="number" name="delete" value="{{ e.id }}" hidden>x</input> <!-- Delete goal and all sub classes -->
                            </button>
                        </form> 
                        <form method="POST" name="plusForm" class="plusForm">
                            {% csrf_token %}  
                            <input type="hidden" name="name" value="add-temp">                
                            <input class="parent_id_input" type="number" name="parent" value="{{ e.id }}" hidden> 
                            <input type="number" name="scrollYpos" value="1" hidden> 
                            <input type="number" name="scrollXpos" value="0" hidden> 
                            <input class="depth_id_input" type="number" name="depth_id" value="{{ e.depth_id }}" hidden>   
                            <button type="submit" class="plus btn btn-outline-secondary plus circle"><i class="fas fa-plus"></i></button> <!-- Add a new goal below, slightly indented, as input field -->
                        </form>
                        <form method="POST" name="" class="plusForm hidden">
                            {% csrf_token %} 
                            <input type="hidden" name="name" value="un-tick">
                            <input type="number" name="scrollYpos" value="1" hidden> 
                            <input type="number" name="scrollXpos" value="0" hidden> 
                            <button class="plus btn btn-outline-secondary plus circle" type="submit" value="Submit">
                                <input type="number" name="tick" value="{{ e.id }}" hidden><i class="fas fa-undo"></i></input> 
                            </button> 
                        </form>  
                        {% comment %} <div id="goal-entry">
                            <form id="goal-form" class="inserted_goal" method="POST">
                                {% csrf_token %}  
                                <input type="hidden" name="name" value="not_initial">                
                                <input id="content-input" type="text" name="new_goal">
                                <input class="parent_id_input" type="number" name="parent" value="{{ e.id }}" hidden> 
                                <input class="depth_id_input" type="number" name="depth_id" value="{{ e.depth_id }}" hidden>   
                                <input type="submit" hidden> 
                            </form>
                        </div>              {% endcomment %}
                    </div>
                </div> 
            </li>

        {% endwith %}
        {% empty %}
        {% endfor %}   
       
    </ul> 
    <footer class="footer">
        <nav id="enter-goal-nav" class="navbar navbar-dark justify-content-between">
            <form id="new-goal-form" class="form-inline" method="POST">
                {% csrf_token %}  
                <input type="hidden" name="name" value="new-goal">                
                <input class="parent_id_input" type="number" name="parent" hidden> 
                <input class="depth_id_input" type="number" name="depth_id" value="0" hidden>  
                
                    <input id="add-goal-input-box" class="form-control mr-2" type="text" placeholder="Add Goal" name="new_goal" autocomplete="off" maxlength="{{max_goal_length}}">
                    <button id="add-goal_button" class="btn btn-outline-secondary my-2 my-sm-0" type="submit">+</button>
            </form>
        </nav>
    </footer>
</div>

{% endblock content %}




