{% extends 'goals/base.html' %}
{% block head %}
<script type="text/javascript">
   //this works because the is just like the normal template django thing
    //converts string recieved from django template to object
    //will then iterate thouogh this object like in main.js
    //SHould link parent id with goal id with foreign_keys then will be easier (maybe) to build tree
    let data = JSON.parse({{ json_test|safe }});
</script>
{% endblock head %}

{% block content %}
{{ form.errors }}   
{{ form.non_field_errors }}
    <br>
    <ul class="container"> 
        <div id="testy"></div>       
            {% for e in goals %}
            {% with e=e.goal %}
            
            <li id="inserted_goal_{{ e.count }} item-{{ e.id }}" class="goal parent_id_{{ e.parent.id }} item depth_{{ e.depth_id }}"><!-- {{ e.hierarchy_id }} - {{ e.depth_id }} -->
                
                   
                
                   <!--  <button id="id_{{ e.id }}" class="btn btn-outline-secondary title-btn  title">{{ e.content }}</button> -->
            <div class="item-container">
                <button id="id_{{ e.id }}" class="btn btn-outline-secondary title-btn  title">{{ e.content }}</button>
                   
                <div class="button-container">
                    <button class="btn btn-outline-success tick circle"><i class="fas fa-check"></i></button> <!-- Will mark all sub classes as done -->
                    <button class="plus btn btn-outline-secondary plus circle">+</button> <!-- Add a new goal below, slightly indented, as input field -->
                    <form method="POST" class="cross circle">
                        {% csrf_token %} 
                        <input type="hidden" name="name" value="delete">
                        <button id="delete-button" type="submit" value="Submit" class="btn btn-outline-danger circle" >
                            <input type="number" name="delete" value="{{ e.id }}" hidden>-</input> <!-- Delete goal and all sub classes -->
                        </button>
                    </form> 
                    <div id="goal-entry">
                        <form class="inserted_goal" method="POST">
                                {% csrf_token %}  
                                <input type="hidden" name="name" value="not_initial">                
                                <input id="content-input" type="text" name="new_goal">
                                <input class="parent_id_input" type="number" name="parent" value="{{ e.id }}" hidden> 
                                <input class="h_id_input hidden" type="number" name="hierarchy_id" value="{{ e.hierarchy_id }}" hidden>
                                <input class="depth_id_input" type="number" name="depth_id" value="{{ e.depth_id }}" hidden>   
                                <input type="submit" hidden> 
                        </form>
                    </div>
                </div>
            </div> 
                <hr class="divider">
            </li>
           
            
        {% endwith %}
        {% empty %}
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="name" value="initial">            
            <input type="text" name="first_goal">
            <input type="submit"> 
        </form>
        
        {% endfor %}    
    </ul> 
{% endblock content %}



