body {
    background-color:#434A66;
}

ul {
    list-style-type: none;
}



.parent_id_input {
    display: none;
}


/* holds the main grid */
.container {
    display: grid;

    grid-template-columns: repeat(20, 5%);
    grid-template-rows:auto;
    row-gap: 0%;
    
   /*  border: 2px solid black; */

   /* background-color:#FBFAEC; */
    /* gap:2px; */

    height: 100%;
    padding: 0px;
    
  }

/* generic class for each individual grid item */

/* 
TODO: each item will hold a small grid in it
- these will reveal the little buttons when hovered over
- they will each be little squarish puzzle pieces that linked to their sub goals like a puzzle piece
 */

.item {
    /* padding: 2em; */
    /* border: solid 2px black; */
    /* grid-column-start: 1;
    grid-column-end: 2; */

   /*  background-color: blanchedalmond; */
    display: block;
    height:10em;
  

    /* border: 3px solid black; */
   min-width: fit-content;

}

.hidden {
    display: none;
}

.inner-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(10, 10%);

    height: 10em;
}

.tick {
    /* padding: 2em; */
    border: solid 2px black;
    background-color:#E8E8E8;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 8;

   
    display: block;
   width: 5em;
}

.title {
    border: solid 2px black;
    background-color:#E8E8E8;

    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 8;

    
    display: block; 

    width:min-content;
    min-width: 6em;

  
}

.plus {
    border: solid 2px black;
    background-color:#E8E8E8;

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 8;

    

    
    display: block; 
    /* max-width: 3em; */
    width: 5em;
}

.cross {
    border: solid 2px black;
    background-color:#E8E8E8;

    grid-column-start:3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;

   
    display: block; 
    /* max-width: 3em; */
    width: 5em;
}

#delete-button {
    width: 100%;
    height: 100%;
}

.top-tab-l {
    /* border: solid 2px black; */
    
    
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: block;

  /*  margin-top: -8px;
   border: 3px solid black;
   border-top:0px; */

   width: 3em;

  
  
}

.top-tab-r {
    /* border: solid 2px black; */
    
    
    grid-column-start:4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    display: block;
 
    /* margin-top: -8px;
    border: 3px solid black;
    border-top:0px; */

    width: 3em;
}

/* .bottom-tab-l {
   

    grid-column-start:3;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;

    display: block;
    padding-bottom: 2em;

}

.bottom-tab-r {

 
     grid-column-start:4;
     grid-column-end: 4;
     grid-row-start: 9;
     grid-row-end: 10;
 
     display: block;
     padding-bottom: 2em;
 
 }  */

.item:nth-of-type(even) .top-tab-l,  .item:nth-of-type(even) .top-tab-r{
    background-color:#9FD8E0;
}

.item:nth-of-type(odd) .top-tab-l,  .item:nth-of-type(odd) .top-tab-r{
    background-color:#7FACB5;
}

/* 
.item:nth-of-type(even) .bottom-tab-l, .item:nth-of-type(even) .bottom-tab-r {
    background-color: red;
}

.item:nth-of-type(odd) .bottom-tab-l, .item:nth-of-type(odd) .bottom-tab-r {
    background-color: blanchedalmond;
}
 */

.item:nth-of-type(odd) {
    background-color:#9FD8E0;
}

.item:nth-of-type(even) {
    background-color:#7FACB5;
}

#goal-entry {
    grid-column-start:1;
    grid-column-end:10;
    grid-row-start:3;
    grid-row-end: 9;

    display: none;
    background-color: white;;
}

.inserted_goal {
    padding-top: 2em;
 }

#content-input{
    width: 80%;
    margin-left: 10%;
 }
